//header

.header{
  position: relative;

  &.active {
    .nav{
      transform: translateX(0);
    }
  }
}

//.nav-opener{
//  span {
//    top: 50%;
//    left: 50%;
//    transform: translate(-50%, -50%) rotate(45deg);
//  }
//
//  &:before {
//    top: 50%;
//    left: 50%;
//    transform: translate(-50%, -50%) rotate(45deg);
//  }
//
//  &:after {
//    bottom: 50%;
//    left: 50%;
//    transform: translate(-50%, -50%) rotate(45deg);
//  }
//}


.header__holder{
  padding: 23px 0 0;
}

.nav {

  @include breakpoint('md'){
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 2;
    background-color: white;
    transform: translateX(100%);
    transition: all ease-in-out 0.3s;
  }

  &__list{
    list-style: none;
    text-align: center;
    margin-bottom: 30px;

    @include breakpoint('md'){
      display: flex;
      flex-direction: column;
      margin: 0 0 20px;
    }
  }

 &__item{
   display: inline-block;
   padding: 0 20px;

   @include breakpoint('md'){
     padding: 0;
     width: 100%;
   }

  a{
    @include breakpoint('md'){
      display: block;
      text-align: center;
      padding: 10px;
    }
  }
 }

 &__link{
   font-size: 18px;
   line-height: 25px;
   color: #828282;
   text-shadow: 0 3px 2px rgba(150, 150, 150, 0.32);
   transition: ease-in-out 0.3s;
 }

 &__link--active{
   color: black;
 }

 &__link:hover{
   color: black;
 }

  &__list-shadow{
    display: block;
    width: 100%;
    height: 1px;
    background-color: #828282;
    box-shadow: 0 3px 10px;
  }
}

.nav-opener {
  display: none;

  @include breakpoint('md'){
    display: block;
    position: absolute;
    top: 300%;
    right: 20px;
    transform: translateY(-50%);
    width: 70px;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 3;
  }

  &:before{
    content: '';
    width: 40px;
    height: 2px;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 50%;
    transform:translateX(-50%);
    background-color: #828282;
    transition: all ease-in-out 0.3s;
  }

  &:after{
    content: '';
    width: 40px;
    height: 2px;
    border-radius: 4px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform:translateX(-50%);
    background-color: #828282;
    transition: all ease-in-out 0.3s;
  }


  span {
    width: 40px;
    height: 2px;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 20%;
    transform:translate(-50% -50%);
    background-color: #828282;
    transition: all ease-in-out 0.3s;
  }
}


//hero-section

.hero-section {
  padding: 35px 0 100px;

  &__section__title{
    font-size: 48px;
  }

  &__image {
    width: 100%;
    padding: 40px 0 0;
  }
}

//about-me

.about{
  background-color: #F6F6F6;
  padding: 100px 0;
  text-align: center;

  &__text-holder{
    margin: 0 auto;
    width: 100%;
    max-width: 480px;
  }

  &__text{
    font-size: 18px;
    padding-bottom: 10px;

    @include breakpoint('lg'){
      font-size: 25px;
    }

    @include breakpoint('sm'){
      font-size: 25px;
    }
  }
}

//skills
.skills__text-holder{
  padding: 100px 0 0;
  margin: 0 auto;
  text-align: center;
}

.skills__title{
  padding-bottom: 30px;
}

.skills__subtitle{
  font-size: 18px;
}

.skills__column-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 80px 0 0;
  margin: 0 auto;

  @include breakpoint("md") {
    width: 50%;

  }

  @include breakpoint("sm") {
    width: 25%;

  }

  @include breakpoint("xs") {
    width: 50%;

  }

  @include breakpoint("xxs") {
    width: 50%;

  }
}

.skills__column{
  max-width: 160px;
  margin: 0 auto;
}

.skills__desc{
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #828282;
  text-align: center;
}

.skills__image{
  padding: 0 0 25px 30px;
}

.skills__rate{
 padding: 60px 0 60px;
}

//portfolio
.portfolio{
  background-color: #F6F6F6;
  padding: 100px 0;
  text-align: center;

  &__image{
    padding: 70px 0 15px;
  }

  &__link-holder{
    padding: 0 0 35px;
  }

  &__link{
    font-size: 18px;
    color: black;
    text-decoration: underline;
  }

  &__link:hover{
    color: #828282;
  }
}

//footer

.footer__container{
  width: 100%;
  max-width: 340px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer__title-holder{
  margin: 0 auto;
  padding: 100px 0 0;
  text-align: center;
  max-width: 275px;
}

.footer__title{
padding: 0 0 20px;
}

.footer__subtitle{
  margin: 0 0 30px;
}

.footer__button-holder{
  padding: 30px 0 40px;
  display: flex;
  justify-content: center;
}

.footer__button{
  color: white;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding: 15px;
  border-radius: 35px;
  background: black;
  transition: ease-in-out 0.3s;
}

.footer__button:hover{
  color: lightskyblue;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding: 15px;
  border-radius: 35px;
  background: black;
  transition: ease-in-out 0.3s;
}

.footer__social-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 40px;
}

.footer__social-desc{
  color: #828282;
  text-align: center;
  padding: 0 0 70px;
}

